$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

@media (max-width:$mobile-width-only) {
    .advantages {
        margin-top: 500px;
    }
} 

@media (min-width:$desktop-width) {
    .advantages {
        margin-top: 300px;

    }
}