$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;




@media (max-width:$mobile-width-only) {
body {
  background: #bfff00;
  color: black;
}
}

@media (min-width: $tablet-width) and (max-width:$desktop-width) {
 body {
  background: #00ffee;
 }
}


@media (min-width:$desktop-width) {
  body {
    background: #ff00dd;
  }
}