$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

@media (max-width:$mobile-width-only) {
    .header {
        position: relative;
    }
}

@media (min-width: $tablet-width) and (max-width:$desktop-width) {
    .header {
        position: relative;
    }
    
}

@media (min-width:$desktop-width) {
    .header {
        position: relative;
    }
}

@media (max-width:$mobile-width-only) {
    .logo__image {
        content: "";
        position: absolute;
        display: block;
        width: 65px;
        height: 30px;
        background-image: url(../img/LOGO-mini.svg);
        background-repeat: no-repeat;
    }
}
@media (min-width:$desktop-width) {
    .logo__image {
        content: "";
        position: absolute;
        display: block;
        width: 150px;
        height: 60px;
        left: 150px;
        top: 30px;
        background-image: url(../img/LOGO.svg);
        background-repeat: no-repeat;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #202020;
    text-decoration: none;
}

.navigation__link {
    width: 700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #202020;
    text-decoration: none;
}