$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

@media (max-width:$mobile-width-only) {
    .header {
        position: fixed;
        z-index: 50;
        top: 0px;
        width: 100%;
        height: 50px;
        transition: background-color 0.8s ease;
    }

    .navigation {
        transform: scale(0);
        transition: 0.3s;
    }

    .navigation.open {
        content: "";
        transform: scale(1);
        display: block;
        position: absolute;
        background: rgb(221, 221, 221);
        width: 100%;
        height: 250px;
        transition: 0.3s;
    }

    .navigation__menu {
        display: flex;
        flex-direction: column;
        margin: 30px 0px 0px 10px;
    }

    .navigation__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #202020;
        text-decoration: none;
        width: 150px;
        margin-top: 10px;
    }

    .phone {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 10px;
    }

    .phone__number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-transform: uppercase;
        color: #202020;
    }

    .phone__button {
        margin-top: 10px;
        width: 160px;
        height: 40px;
        border: none;
        background: #FF9646;
        border-radius: 2px;
    }

    .phone__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #F4F4F4;
    }

    .phone__button:hover {
        background: #202020;
        border-radius: 2px;
    }
}




@media (min-width: $tablet-width) and (max-width:$desktop-width) {
    .header {
        position: fixed;
        z-index: 50;
        top: 0px;
        width: 100%;
        height: 80px;
        transition: background-color 0.8s ease;
    }
    
}

@media (min-width:$desktop-width) {
    .header {
        position: fixed;
        z-index: 20;
        top: 0px;
        width: 100%;
        height: 95px;
        transition: background-color 0.8s ease;
    }
    
    .navigation {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 700px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #202020;
        text-decoration: none;
    }
    
    
    .navigation__menu {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 500px;
        height: 60px;
        left: 650px;
        top: -30px;
    }

    .navigation__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #202020;
        text-decoration: none;
        padding: 10px;
    }

    .navigation__link:hover {
        text-decoration: underline;
        color: #FF9646;
        transition: 0.8s;
    }

    .phone {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 1200px;
        top: -50px;
        width: 300px;
    }

    .phone__number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        text-transform: uppercase;
        color: #202020;
        padding: 5px;
    }

    .phone__number:hover {
        color: #FF9646;
    }

    .phone__button {
        margin-top: 10px;
        width: 160px;
        height: 40px;
        border: none;
        background: #FF9646;
        border-radius: 2px;
    }

    .phone__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #F4F4F4;
    }

    .phone__button:hover {
        background: #202020;
        border-radius: 2px;
    }
    
}

  .scrolled {
    background-color: rgb(221, 221, 221);
  }
  