$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

@media (max-width:$mobile-width-only) {
    .main {
    }
}

@media (min-width: $tablet-width) and (max-width:$desktop-width) {
    .main {
    }
}

@media (min-width:$desktop-width) {
    .main {
    }
}